@import url(./font.css);
img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
  
}
ul{
    padding: 0;
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p{
    margin-bottom: 0;
}

