.header{
    background-color: white;
}


.header .navbar {
    background-color: transparent;


}
.header .navbar .navbar-brand{
    width: 100px;
}
.header .navbar{
    padding: 13px 0px;
    
}
.header .navbar-nav li{
    padding-right: 18px;
}
.header .navbar-nav li a{
    color: #4a6f8a;
    transition: all 0.5s;
    font-size: 15px;
    font-weight: 500;
}
.header .navbar-nav li .active{
    color: #0046c0;
}
.header .navbar-nav li a:hover{
    color: #0046c0;
}
.navbar .navbar-brand img{
    width: 85px;
}
/* ****************** */

    .header .navbar .btn {
        width: 49px;
        height: 42px;
        border-radius: 5px;
        border: none;
        font-size: 17px;
        font-weight: 600;
        background:#0046c0;
        color: transparent;
      }
      .header .navbar .btn .icon{
        margin-left: 3px;
      }
     .header .navbar  .btn:hover {
        box-shadow: 0 0 20px 0px #2e2e2e3a;       
        background:#0046c0; 
      }
      .header .navbar  .btn:active{
        border: noen;
      } 
      .header .navbar .btn:focus {
        outline: none;
        border: none;
      }
      
  
.headerHome{
    position: fixed;
    background-color: white;
    top: -75px;
    left: 0;
    right: 0;
    z-index: 55;
    transform: translateY(70px );
    transition: transform 0.5s;
    box-shadow: 0px 0px 15px 0px #ddd;
}


.navbar__log a{
    color: #4a6f8a;
    font-size: 15px;
    transition: all 0.5s;


}
.navbar__log a:hover{
    color: #0046c0;
}
.navbar__log i{
    margin-right: 5px;
    font-size: 18px;
}
.navbar__log span{
    font-family:gothamseven ;

}