.appointment{
    padding: 50px 0px;
}
.appointment__teb .table {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #ddd;

    
}

.appointment__teb .table th{
    padding: 18px;
    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 600;
    background-color: #4a6f8a;
    color: #fff;
    font-family:gothamfive ;

    
}
.appointment__teb .table td{
border:  transparent;
padding: 15px 0px; 
background: #ffffff;
font-size: 16px;
font-weight: 600;
color: rgb(0, 0, 0);
margin-top: 0px;
font-family:gothamsix ;


}
.appointment__teb .table td:nth-child(1){
font-size: 19px;
}

.appointment__teb .table-striped{
    border: 1px solid transparent;
}

     
.appointment__teb .table th {
    background-color: #4a6f8a;
        color: #fff;
    }
    .appointment__teb .table th:nth-child(8) {
        border-top-right-radius: 10px;
     
    }
    .appointment__teb .table th:nth-child(1) {
        border-top-left-radius: 10px;
     
    }
.appointment__teb .btn__app__one:hover{
    background-color: rgb(210, 2, 2);
    box-shadow: 0px 2px 10px rgb(210, 2, 2);
}



.appointment__screen .table {
    width: 100%;
    box-shadow: 0px 0px 15px 0px #ddd;
}


.appointment__screen .table th, .appointment__screen .table td {
    padding: 12px 16px;
}


.appointment__screen .table th {
    background-color: #4a6f8a; 
    color: #ffffff; 
    font-size: 18px; 
    font-family:gothamseven ;

}


.appointment__screen .table td {

    font-size: 16px; 
    font-family:gothamfive ;
}


.appointment__screen .table td span {
    color: #000000; 
    margin-right: 10px;
    font-family:gothamfive ;
    
}


.appointment__screen .table td span:last-child,.appointment__screen .table th span:last-child {
 margin:auto;
}


.appointment__screen .table td,.appointment__screen .table th {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 12px 16px; 
    border-bottom: 1px solid #eeeeee; 
}
.appointment__screen{
    display: none;
}
.appointment__teb{
    display: block;
}

.btn__app__table{
    width: 90px;
    height: 37px ;
    padding: 0;
    margin-right: 70px;
}   
 