.patient{
    position: relative;
    padding: 50px 0px;
}
.home__heart__shape img{
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -1;
    width: 550px;
} 

.patient .patient__text p{
    color: #0046c0;
    font-size: 15px;
    font-family:gothamseven ;
    margin-bottom: 5px;
 text-transform: capitalize;

}
.patient .patient__text h2{
    font-family:gothamone ;
    font-size: 38px;
 text-transform: capitalize;
    
    color: #232323;
}

.patient .patient__option .patient__option__choosee{
    box-shadow: 0px 0px 25px 0px #ddddddbf;
    margin: 50px 0px;
    text-align: center;
    padding: 25px 20px;
    position: relative;


}
.patient .patient__option .patient__option__choosee2{
    height: 240px;
}
.patient .patient__option .patient__option__choosee i{
    color: #4d93e9;
    font-size: 65px;
    margin-bottom: 20px;
}

.patient .patient__option .patient__option__choosee h3{
    font-size: 19px;
    font-family:gothamseven ;
 margin: 5px 0px; 
 text-transform: capitalize;

}
.patient .patient__option .patient__option__choosee p{
    font-size: 15px;
    margin-top: 10px;
    color: #4a6f8a;
    font-family:gothamsix ;

}


.patient .patient__option .patient__option__choosee__hidden{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: #0046c0;
    z-index: 1;
    padding: 25px 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all ease;
}
.patient .patient__option .patient__option__choosee:hover .patient__option__choosee__hidden{
    opacity: 1;
    visibility: visible;
}
.patient .patient__option .patient__option__choosee__hidden i{
    position: absolute;
    left: 0;
    right: 0;
    top: -10%;
    font-size: 200px;
    color: #ffffff;
    opacity: .10;
    z-index: -1;
}
.patient .patient__option .patient__option__choosee__hidden h3{
    color: white;
    margin-bottom: 15px;
 text-transform: capitalize;

    
}
.patient .patient__option .patient__option__choosee__hidden p{
    color: white;
    margin: 15px 0px;
}
.patient .patient__option .patient__option__choosee__hidden .patient__option__choosee__hidden--btn{
    padding: 10px 18px;
    border: 2px solid transparent;
    color:#0046c0;
    background-color: #ffffff;
    font-family:gothamfive ;
    font-size: 13px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-right: 12px;
    transition: 0.5s all ease;
    margin-top: 15px;

}
.patient .patient__option .patient__option__choosee__hidden .patient__option__choosee__hidden--btn:hover{

    color:#ffffff;
    background-color: #111111;


}








