
.login .login__img img{
height: 100vh;
object-fit: cover;
}
.login .login__form{
    max-width: 610px;
    margin: auto auto;
    padding-top: 80px;
}

.login .login__form h2{
    font-size: 45px;
    font-weight: 700;
    position: relative;
}
.login .login__form h2::after{
    content: "";
    position: absolute;
    bottom:-20px;
    left: 0;
    width: 120px;
    height: 7px;
    border-radius: 5px;
    background-color:#0046c0;
    z-index: -1;
}

.login .login__form  p{
    padding: 45px 0px;
    color: #4a6f8a;
    font-weight: 600;
    word-spacing: 2px ;
    font-size: 18px;
   
}
.login .login__form p a{
    color: #0046c0;
    padding-left: 5px;
    font-weight: 600;
    font-size: 18px;
}

.login .login__form input{
    width: 100%;
    margin: 15px 0px;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #4a6f8a;
    transition: all 0.5s;
    font-size: 15px;
    font-weight: 500;
}
.login .login__form input:hover{
    border: 1px solid #0046c0;
}
.login .login__form p:last-child{
    padding: 15px 0px;
    font-weight: 400;

}
.login .login__form p:last-child a{
   color: #4a6f8a;
border-bottom: 2px solid #0046c0;
transition: all 0.5s;
font-size: 17px;
padding-bottom: 3px;
}
.login .login__form p:last-child a:hover{
    color: #0046c0;
}
.login .login__form .btn1{
width: 100%;
padding: 10px 0px;
background-color: #0046c0;
color: white;
font-size: 19px;
font-weight: 600;
margin: 17px 0px;
border-radius: 5px;
transition: all 0.5s;
}

.login .login__form .btn1:hover{
    background-color: black;
}
.login .login__form {
    padding-bottom: 50px;
}
.login .login__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}