.btn__app{
    font-size: 15px;
    border: 2px solid transparent;
    background-color: #0046c0;
    color: white;
    font-family:gothamseven ;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.5s;
    text-transform: capitalize;
    }
    .btn__app:hover{
        background-color: #212529;
    }