.table-cell{
    background-image: url(../images/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 height: 300px;
    position: relative;
    z-index: 1;

}
.table-cell::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: #0046c0;
    opacity: 0.5;
    z-index: -1;
}
.table-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.table__cell{
    display: flex;
    justify-content: center;
}

.table__cell .table__cell__text{
    text-align: center;
    color: white;
}
.table__cell .table__cell__text h2{
    font-size: 45px;
    font-family:gothamone ; 
    text-transform: capitalize;
    margin-bottom: 10px;
}
.table__cell .table__cell__text .table__cell__text__plan {
    font-family:gothamseven ;
    text-transform: capitalize;
}
.table__cell .table__cell__text .table__cell__text__plan i{
 padding: 0px 5px;
}
.table__cell .table__cell__text .table__cell__text__plan a{
    transition: all 0.5s;
}
.table__cell .table__cell__text .table__cell__text__plan a:hover{
    color: #111111;
}